body{
    background-image:url("assest/background-image.jpg");
}
 .text-center{
    color: white;
    margin-top: 70px;
}
.text-center h1{
   font-size: 50px;
   font-weight:bold;    
}
.form-floating{
    width: 300px;
   margin-top: 40px;
}
.form-floating .form-control{
    background-color: transparent;
}
.form-floating .mt-3{
    margin-left: 80px ;
    padding: 9px 13px;
    font-size: 13px;
    font-weight: bold;
}
.form-floating label{
    color: black;
    font-weight: bold;
}
