

.header{
    background-image:url("assest/background-image.jpg");
    padding-bottom: 30px;
}
 .text-center{
    color: white;
    margin-top: 70px;
}
.text-center h1{
   font-size: 50px;
   font-weight:bold;    
}
.form-floating{
    width: 300px;
   margin-top: 40px;
}
.form-floating .form-control{
    background-color: transparent;
}
.form-floating .mt-3{
    margin-left: 80px ;
    padding: 9px 13px;
    font-size: 13px;
    font-weight: bold;
}
.form-floating label{
    color: black;
    font-weight: bold;  
}
 /* Main section start */
 .main{
    background-color: black;
 }
 .line {
    border: 0; 
    height: 8px; 
    background-color: rgb(112, 3, 71); 
    margin: 0px;
 }
.col-md-5 .heading{
          margin-top: 80px;
          font-size: 50px;
          font-weight: bold;
          color: white;
}
.col-md-5 p{
    color: white;
    font-size: 23px;
    margin-top: 8px;
}
